<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Lesion Viewer{% endblock %}</title>
  <!-- Use the CDN links from the config (note uppercase section key) -->
  <link rel="stylesheet" href="{{ config['HTML_GENERATION']['bootstrap_css_url'] }}">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link rel="icon" type="image/png" href="../static/images/icon.png">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../static/images/icon.png" alt="Lesion Viewer Logo" style="width:150px; height:150px; margin-right:15px;">
        Lesion Viewer
      </a>
    </div>
  </nav>
  <div class="container-fluid mt-4">
    {% block content %}{% endblock %}
  </div>
  <!-- Include JS from CDN using config and local JS -->
  <script src="{{ config['HTML_GENERATION']['jquery_url'] }}"></script>
  <script src="{{ config['HTML_GENERATION']['popper_url'] }}"></script>
  <script src="{{ config['HTML_GENERATION']['bootstrap_js_url'] }}"></script>
  <script src="../static/js/viewer.js"></script>
</body>
</html>
