{% extends "base.html" %}
{% block title %}View Subject {{ subject.subject_id }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <h1 class="text-center mb-4">Subject Viewer: {{ subject.subject_id }}</h1>

        <form id="annotationForm">
        {% for lesion_id, slices in subject.lesions.items() %}
        <div class="lesion-container mb-4" 
             data-lesion-id="{{ lesion_id }}"
             data-min-slice="{{ slices[0].split('_')[-1].split('.')[0]|int }}"
             data-max-slice="{{ slices[-1].split('_')[-1].split('.')[0]|int }}"
             data-center-slice="{{ slices[slices|length // 2].split('_')[-1].split('.')[0]|int }}">
            <h3 class="text-center">Lesion: {{ lesion_id }}</h3>
            <div class="text-center mt-3">
                <img src="{{ url_for('serve_slice', filename=slices[slices|length // 2]) }}"
                     id="sliceImage_{{ lesion_id }}"
                     class="img-fluid lesion-image"
                     data-lesion-id="{{ lesion_id }}"
                     data-subject-id="{{ subject.subject_id }}">
            </div>
            <input type="range" class="slice-range form-control-range mt-3" 
                   min="{{ slices[0].split('_')[-1].split('.')[0]|int }}"
                   max="{{ slices[-1].split('_')[-1].split('.')[0]|int }}"
                   value="{{ slices[slices|length // 2].split('_')[-1].split('.')[0]|int }}">
            <div class="text-center">
                <span class="slice-number">Slice: <span class="current-slice">{{ slices[slices|length // 2].split('_')[-1].split('.')[0] }}</span></span>
            </div>
            <div class="mt-3 text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="annotation_{{ lesion_id }}" value="Reader_1">
                    <label class="form-check-label">Reader_1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="annotation_{{ lesion_id }}" value="Reader_2">
                    <label class="form-check-label">Reader_2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="annotation_{{ lesion_id }}" value="No_rim">
                    <label class="form-check-label">No_rim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="annotation_{{ lesion_id }}" value="Review">
                    <label class="form-check-label">Review</label>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3 mb-5">Save All Annotations</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/viewer.js') }}"></script>
{% endblock %}